In [51]:
#Import Libraries

import numpy as np
import pandas as pd
from scipy.stats import entropy

In [ ]:
#LOAD IN LSOA DWELLINGS FROM CENSUS

In [54]:
df_censusLSOAdwell = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_LSOA_Dwellings.csv?raw=true", 
                                  skiprows = 6, nrows = 4994)
df_censusLSOAdwell.shape
df_censusLSOAdwell.dtypes

local authority: county / unitary (as of April 2023)     object
mnemonic                                                 object
2021                                                    float64
dtype: object

In [ ]:
#LOAD IN BOROUGH LEVEL CENSUS DATA

In [55]:
df_censusdwellings = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_dwellings.csv?raw=true", 
                                  skiprows = 6, nrows = 33)
df_censusdwellings.shape
df_censusdwellings.dtypes

local authority: county / unitary (as of April 2023)    object
mnemonic                                                object
Total                                                    int64
Shared dwelling                                          int64
Unshared dwelling                                        int64
dtype: object

In [75]:
df_censusaccomm = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_Accommodation.csv?raw=true", 
                                  skiprows = 6, nrows = 33)
df_censusaccomm.shape
df_censusaccomm.dtypes

p_accomm = [df_censusaccomm['Detached'],df_censusaccomm['Semi-detached'],df_censusaccomm['Terraced'],df_censusaccomm['In a purpose-built block of flats or tenement'],
           df_censusaccomm['Part of a converted or shared house, including bedsits'],df_censusaccomm['Part of another converted building, for example, former school, church or warehouse'],
            df_censusaccomm['In a commercial building, for example, in an office building, hotel or over a shop']]

df_censusaccomm["Accommm_entropy"] = entropy(p_accomm, base=2)

In [92]:
df_censusbedocc = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_BedroomOcc.csv?raw=true", 
                                  skiprows = 6, nrows = 33)
df_censusbedocc.shape
df_censusbedocc.dtypes

p_bedocc = [df_censusbedocc['Occupancy rating of bedrooms: +2 or more'],df_censusbedocc['Occupancy rating of bedrooms: +1'],
            df_censusbedocc['Occupancy rating of bedrooms: 0'],df_censusbedocc['Occupancy rating of bedrooms: -1'],
            df_censusbedocc['Occupancy rating of bedrooms: -2 or less']]

df_censusbedocc["Bedocc_entropy"] = entropy(p_bedocc, base=2)
#df_censusbedocc

In [76]:
df_censuscarsvans = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_CarsVans.csv?raw=true", 
                                  skiprows = 6, nrows = 33)
df_censuscarsvans.shape
df_censuscarsvans.dtypes

p = [df_censuscarsvans['No cars or vans in household'], df_censuscarsvans['1 car or van in household'], df_censuscarsvans['2 cars or vans in household'],
    df_censuscarsvans['3 or more cars or vans in household']]
df_censuscarsvans["Cars_entropy"] = entropy(p, base=2)

#https://www.geeksforgeeks.org/how-to-compute-entropy-using-scipy/


#df_censuscarsvans["TestVar"] = df_censuscarsvans['No cars or vans in household']
#df_censuscarsvans

In [80]:
df_censusdepriv = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_Deprivation.csv?raw=true", 
                                  skiprows = 6, nrows = 33)
df_censusdepriv.shape
df_censusdepriv.dtypes

p_depriv = [df_censusdepriv['Household is not deprived in any dimension'],df_censusdepriv['Household is deprived in one dimension'],
            df_censusdepriv['Household is deprived in two dimensions'], df_censusdepriv['Household is deprived in three dimensions'],
            df_censusdepriv['Household is deprived in four dimensions']]

df_censusdepriv["Depriv_entropy"] = entropy(p_depriv, base=2)
#df_censusdepriv

In [84]:
df_censusnssec = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_NsSeC.csv?raw=true", 
                                  skiprows = 6, nrows = 33)
df_censusnssec.shape
df_censusnssec.dtypes

p_nssec = [df_censusnssec['L1, L2 and L3 Higher managerial, administrative and professional occupations'],
           df_censusnssec['L4, L5 and L6 Lower managerial, administrative and professional occupations'],
          df_censusnssec['L7 Intermediate occupations'],df_censusnssec['L8 and L9 Small employers and own account workers'],
          df_censusnssec['L10 and L11 Lower supervisory and technical occupations'],df_censusnssec['L12 Semi-routine occupations'],
          df_censusnssec['L13 Routine occupations'],df_censusnssec['L14.1 and L14.2 Never worked and long-term unemployed'],
          df_censusnssec['L15 Full-time students']]

df_censusnssec["NsSEC_entropy"] = entropy(p_nssec, base=2)
#df_censusnssec

In [62]:
df_censuspopdens = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_PopDensity.csv?raw=true", 
                                  skiprows = 6, nrows = 33)
df_censuspopdens.shape
df_censuspopdens.dtypes

2022 local authorities: county     object
mnemonic                           object
2021                              float64
dtype: object

In [88]:
df_censusaddress = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_Addresses.csv?raw=true", 
                                  skiprows = 6, nrows = 33)
df_censusaddress.shape
df_censusaddress.dtypes

p_address = [df_censusaddress['Address one year ago is the same as the address of enumeration'],
             df_censusaddress['Address one year ago is student term-time or boarding school address in the UK'],
            df_censusaddress['Migrant from within the UK: Address one year ago was in the UK'],
             df_censusaddress['Migrant from outside the UK: Address one year ago was outside the UK']]

df_censusaddress["Address_entropy"] = entropy(p_address, base=2)
#df_censusaddress

In [ ]:
#LOAD IN VACANT HOMES DATA

In [64]:
#https://data.london.gov.uk/download/vacant-dwellings/c428a18b-9961-4b98-9cfe-b7f120114141/vacant-dwellings-borough%20%282%29.xlsx
df_vacantprops = pd.read_excel("https://data.london.gov.uk/download/vacant-dwellings/c428a18b-9961-4b98-9cfe-b7f120114141/vacant-dwellings-borough%20%282%29.xlsx", 
                                  sheet_name = 2, skiprows = 1, nrows = 33)
df_vacantprops.shape
df_vacantprops.dtypes

Unnamed: 0     object
Unnamed: 1     object
2004          float64
2005          float64
2006          float64
2007          float64
2008          float64
2009          float64
2010          float64
2011          float64
2012          float64
2013          float64
2014          float64
2015          float64
2016          float64
2017          float64
2018          float64
2019          float64
2020          float64
2021          float64
2022          float64
2023          float64
dtype: object

In [ ]:
#LOAD IN MEDIAN HOUSE PRIVATE VALUES

In [26]:
#https://github.com/a-saveleva/FSDS_Slap/blob/main/house_prices/hpssadataset9medianpricepaidforadministrativegeographies.xls

df_hp_median = pd.read_excel("https://github.com/a-saveleva/FSDS_Slap/blob/main/house_prices/hpssadataset9medianpricepaidforadministrativegeographies.xls?raw=true", 
                                  sheet_name = 10, skiprows = 6, nrows = 331)
df_hp_median.shape
df_hp_median.dtypes

column_names = list(df_hp_median.columns)
print(column_names)

df_median_London = df_hp_median[df_hp_median['Local authority code '].str.startswith('E09')]

print(df_median_London.head())

['Region/Country code', 'Region/Country name', 'Local authority code ', 'Local authority name', 'Year ending Dec 1995', 'Year ending Mar 1996', 'Year ending Jun 1996', 'Year ending Sep 1996', 'Year ending Dec 1996', 'Year ending Mar 1997', 'Year ending Jun 1997', 'Year ending Sep 1997', 'Year ending Dec 1997', 'Year ending Mar 1998', 'Year ending Jun 1998', 'Year ending Sep 1998', 'Year ending Dec 1998', 'Year ending Mar 1999', 'Year ending Jun 1999', 'Year ending Sep 1999', 'Year ending Dec 1999', 'Year ending Mar 2000', 'Year ending Jun 2000', 'Year ending Sep 2000', 'Year ending Dec 2000', 'Year ending Mar 2001', 'Year ending Jun 2001', 'Year ending Sep 2001', 'Year ending Dec 2001', 'Year ending Mar 2002', 'Year ending Jun 2002', 'Year ending Sep 2002', 'Year ending Dec 2002', 'Year ending Mar 2003', 'Year ending Jun 2003', 'Year ending Sep 2003', 'Year ending Dec 2003', 'Year ending Mar 2004', 'Year ending Jun 2004', 'Year ending Sep 2004', 'Year ending Dec 2004', 'Year ending Mar 2005', 'Year ending Jun 2005', 'Year ending Sep 2005', 'Year ending Dec 2005', 'Year ending Mar 2006', 'Year ending Jun 2006', 'Year ending Sep 2006', 'Year ending Dec 2006', 'Year ending Mar 2007', 'Year ending Jun 2007', 'Year ending Sep 2007', 'Year ending Dec 2007', 'Year ending Mar 2008', 'Year ending Jun 2008', 'Year ending Sep 2008', 'Year ending Dec 2008', 'Year ending Mar 2009', 'Year ending Jun 2009', 'Year ending Sep 2009', 'Year ending Dec 2009', 'Year ending Mar 2010', 'Year ending Jun 2010', 'Year ending Sep 2010', 'Year ending Dec 2010', 'Year ending Mar 2011', 'Year ending Jun 2011', 'Year ending Sep 2011', 'Year ending Dec 2011', 'Year ending Mar 2012', 'Year ending Jun 2012', 'Year ending Sep 2012', 'Year ending Dec 2012', 'Year ending Mar 2013', 'Year ending Jun 2013', 'Year ending Sep 2013', 'Year ending Dec 2013', 'Year ending Mar 2014', 'Year ending Jun 2014', 'Year ending Sep 2014', 'Year ending Dec 2014', 'Year ending Mar 2015', 'Year ending Jun 2015', 'Year ending Sep 2015', 'Year ending Dec 2015', 'Year ending Mar 2016', 'Year ending Jun 2016', 'Year ending Sep 2016', 'Year ending Dec 2016', 'Year ending Mar 2017', 'Year ending Jun 2017', 'Year ending Sep 2017', 'Year ending Dec 2017', 'Year ending Mar 2018', 'Year ending Jun 2018', 'Year ending Sep 2018', 'Year ending Dec 2018', 'Year ending Mar 2019', 'Year ending Jun 2019', 'Year ending Sep 2019', 'Year ending Dec 2019', 'Year ending Mar 2020', 'Year ending Jun 2020', 'Year ending Sep 2020', 'Year ending Dec 2020', 'Year ending Mar 2021', 'Year ending Jun 2021', 'Year ending Sep 2021', 'Year ending Dec 2021', 'Year ending Mar 2022', 'Year ending Jun 2022', 'Year ending Sep 2022', 'Year ending Dec 2022', 'Year ending Mar 2023']
    Region/Country code Region/Country name Local authority code   \
182           E12000007              London             E09000001
183           E12000007              London             E09000002
184           E12000007              London             E09000003
185           E12000007              London             E09000004
186           E12000007              London             E09000005

     Local authority name  Year ending Dec 1995  Year ending Mar 1996  \
182        City of London              105000.0              112500.0
183  Barking and Dagenham               49000.0               49995.0
184                Barnet               85250.0               85000.0
185                Bexley               62000.0               62000.0
186                 Brent               68000.0               69000.0

     Year ending Jun 1996  Year ending Sep 1996  Year ending Dec 1996  \
182              112375.0              121500.0              124250.0
183               50000.0               49995.0               49995.0
184               85000.0               85500.0               87000.0
185               63250.0               63500.0               65000.0
186               70000.0               71000.0               73000.0

     Year ending Mar 1997  ...  Year ending Dec 2020  Year ending Mar 2021  \
182              127000.0  ...              883500.0              814000.0
183               49950.0  ...              325000.0              326000.0
184               89500.0  ...              560000.0              570000.0
185               67000.0  ...              375000.0              390000.0
186               75000.0  ...              505000.0              520000.0

     Year ending Jun 2021  Year ending Sep 2021  Year ending Dec 2021  \
182              771750.0              771750.0              797500.0
183              332000.0              335000.0              340000.0
184              570000.0              570000.0              575000.0
185              394000.0              390000.0              390000.0
186              523000.0              525000.0              525000.0

     Year ending Mar 2022  Year ending Jun 2022  Year ending Sep 2022  \
182              805000.0              802500.0              800000.0
183              345000.0              350000.0              365000.0
184              576300.0              589000.0              600000.0
185              390000.0              395000.0              416500.0
186              525000.0              533250.0              550000.0

     Year ending Dec 2022  Year ending Mar 2023
182              772500.0              790000.0
183              375000.0              380000.0
184              605150.0              615000.0
185              425000.0              425000.0
186              560000.0              565000.0

[5 rows x 114 columns]

In [ ]:
#LOAD IN LOWER QUARTILE HOUSE PRIVATE VALUES
#https://github.com/a-saveleva/FSDS_Slap/blob/main/house_prices/hpssadataset15lowerquartilepricepaidforadministrativegeographies.xls

In [28]:
df_hp_lower = pd.read_excel("https://github.com/a-saveleva/FSDS_Slap/blob/main/house_prices/hpssadataset15lowerquartilepricepaidforadministrativegeographies.xls?raw=true", 
                                  sheet_name = 10, skiprows = 6, nrows = 331)
df_hp_lower.shape
df_hp_lower.dtypes

column_names = list(df_hp_lower.columns)
print(column_names)

df_lower_London = df_hp_lower[df_hp_lower['Local authority code '].str.startswith('E09')]

print(df_lower_London.head())

['Region/Country code', 'Region/Country name', 'Local authority code ', 'Local authority name', 'Year ending Dec 1995', 'Year ending Mar 1996', 'Year ending Jun 1996', 'Year ending Sep 1996', 'Year ending Dec 1996', 'Year ending Mar 1997', 'Year ending Jun 1997', 'Year ending Sep 1997', 'Year ending Dec 1997', 'Year ending Mar 1998', 'Year ending Jun 1998', 'Year ending Sep 1998', 'Year ending Dec 1998', 'Year ending Mar 1999', 'Year ending Jun 1999', 'Year ending Sep 1999', 'Year ending Dec 1999', 'Year ending Mar 2000', 'Year ending Jun 2000', 'Year ending Sep 2000', 'Year ending Dec 2000', 'Year ending Mar 2001', 'Year ending Jun 2001', 'Year ending Sep 2001', 'Year ending Dec 2001', 'Year ending Mar 2002', 'Year ending Jun 2002', 'Year ending Sep 2002', 'Year ending Dec 2002', 'Year ending Mar 2003', 'Year ending Jun 2003', 'Year ending Sep 2003', 'Year ending Dec 2003', 'Year ending Mar 2004', 'Year ending Jun 2004', 'Year ending Sep 2004', 'Year ending Dec 2004', 'Year ending Mar 2005', 'Year ending Jun 2005', 'Year ending Sep 2005', 'Year ending Dec 2005', 'Year ending Mar 2006', 'Year ending Jun 2006', 'Year ending Sep 2006', 'Year ending Dec 2006', 'Year ending Mar 2007', 'Year ending Jun 2007', 'Year ending Sep 2007', 'Year ending Dec 2007', 'Year ending Mar 2008', 'Year ending Jun 2008', 'Year ending Sep 2008', 'Year ending Dec 2008', 'Year ending Mar 2009', 'Year ending Jun 2009', 'Year ending Sep 2009', 'Year ending Dec 2009', 'Year ending Mar 2010', 'Year ending Jun 2010', 'Year ending Sep 2010', 'Year ending Dec 2010', 'Year ending Mar 2011', 'Year ending Jun 2011', 'Year ending Sep 2011', 'Year ending Dec 2011', 'Year ending Mar 2012', 'Year ending Jun 2012', 'Year ending Sep 2012', 'Year ending Dec 2012', 'Year ending Mar 2013', 'Year ending Jun 2013', 'Year ending Sep 2013', 'Year ending Dec 2013', 'Year ending Mar 2014', 'Year ending Jun 2014', 'Year ending Sep 2014', 'Year ending Dec 2014', 'Year ending Mar 2015', 'Year ending Jun 2015', 'Year ending Sep 2015', 'Year ending Dec 2015', 'Year ending Mar 2016', 'Year ending Jun 2016', 'Year ending Sep 2016', 'Year ending Dec 2016', 'Year ending Mar 2017', 'Year ending Jun 2017', 'Year ending Sep 2017', 'Year ending Dec 2017', 'Year ending Mar 2018', 'Year ending Jun 2018', 'Year ending Sep 2018', 'Year ending Dec 2018', 'Year ending Mar 2019', 'Year ending Jun 2019', 'Year ending Sep 2019', 'Year ending Dec 2019', 'Year ending Mar 2020', 'Year ending Jun 2020', 'Year ending Sep 2020', 'Year ending Dec 2020', 'Year ending Mar 2021', 'Year ending Jun 2021', 'Year ending Sep 2021', 'Year ending Dec 2021', 'Year ending Mar 2022', 'Year ending Jun 2022', 'Year ending Sep 2022', 'Year ending Dec 2022', 'Year ending Mar 2023']
    Region/Country code Region/Country name Local authority code   \
182           E12000007              London             E09000001
183           E12000007              London             E09000002
184           E12000007              London             E09000003
185           E12000007              London             E09000004
186           E12000007              London             E09000005

     Local authority name  Year ending Dec 1995  Year ending Mar 1996  \
182        City of London               80000.0               85750.0
183  Barking and Dagenham               40000.0               40000.0
184                Barnet               59950.0               59950.0
185                Bexley               48000.0               48000.0
186                 Brent               52000.0               53995.0

     Year ending Jun 1996  Year ending Sep 1996  Year ending Dec 1996  \
182               79500.0               90000.0               92000.0
183               40000.0               40750.0               41000.0
184               59500.0               59950.0               59950.0
185               48500.0               48500.0               50000.0
186               54295.0               54500.0               55000.0

     Year ending Mar 1997  ...  Year ending Dec 2020  Year ending Mar 2021  \
182                 96000  ...              649950.0              635000.0
183                 41500  ...              285000.0              285000.0
184                 60000  ...              400000.0              410000.0
185                 51175  ...              302500.0              312500.0
186                 55000  ...              385000.0              385000.0

     Year ending Jun 2021  Year ending Sep 2021  Year ending Dec 2021  \
182              604250.0                595000              616000.0
183              290000.0                295000              295000.0
184              410000.0                410000              415000.0
185              317500.0                313000              310500.0
186              392000.0                390000              380000.0

     Year ending Mar 2022  Year ending Jun 2022  Year ending Sep 2022  \
182              595000.0              598550.0              550000.0
183              299000.0              295000.0              285000.0
184              415000.0              415000.0              420000.0
185              308000.0              305000.0              320000.0
186              385000.0              385000.0              389000.0

     Year ending Dec 2022  Year ending Mar 2023
182              550000.0              568000.0
183              310000.0              305000.0
184              415000.0              410000.0
185              325500.0              332000.0
186              395000.0              391720.0

[5 rows x 114 columns]