In [29]:
#Import Libraries

import numpy as np
import pandas as pd
from scipy.stats import entropy

In [ ]:
#code to remove spaces from column names
#df.columns = df.columns.str.replace(' ', '_')


#code for deleting redundant data frames
#>>> lst = [pd.DataFrame(), pd.DataFrame(), pd.DataFrame()]
#>>> del lst     # memory is released

In [ ]:
#LOAD IN LSOA DWELLINGS FROM CENSUS

In [54]:
df_censusLSOAdwell = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_LSOA_Dwellings.csv?raw=true", 
                                  skiprows = 6, nrows = 4994)
df_censusLSOAdwell.shape
df_censusLSOAdwell.dtypes

local authority: county / unitary (as of April 2023)     object
mnemonic                                                 object
2021                                                    float64
dtype: object

In [ ]:
#LOAD IN BOROUGH LEVEL CENSUS DATA

In [55]:
df_censusdwellings = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_dwellings.csv?raw=true", 
                                  skiprows = 6, nrows = 33)
df_censusdwellings.shape
df_censusdwellings.dtypes

local authority: county / unitary (as of April 2023)    object
mnemonic                                                object
Total                                                    int64
Shared dwelling                                          int64
Unshared dwelling                                        int64
dtype: object

In [75]:
df_censusaccomm = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_Accommodation.csv?raw=true", 
                                  skiprows = 6, nrows = 33)
df_censusaccomm.shape
df_censusaccomm.dtypes

p_accomm = [df_censusaccomm['Detached'],df_censusaccomm['Semi-detached'],df_censusaccomm['Terraced'],df_censusaccomm['In a purpose-built block of flats or tenement'],
           df_censusaccomm['Part of a converted or shared house, including bedsits'],df_censusaccomm['Part of another converted building, for example, former school, church or warehouse'],
            df_censusaccomm['In a commercial building, for example, in an office building, hotel or over a shop']]

df_censusaccomm["Accommm_entropy"] = entropy(p_accomm, base=2)

In [92]:
df_censusbedocc = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_BedroomOcc.csv?raw=true", 
                                  skiprows = 6, nrows = 33)
df_censusbedocc.shape
df_censusbedocc.dtypes

p_bedocc = [df_censusbedocc['Occupancy rating of bedrooms: +2 or more'],df_censusbedocc['Occupancy rating of bedrooms: +1'],
            df_censusbedocc['Occupancy rating of bedrooms: 0'],df_censusbedocc['Occupancy rating of bedrooms: -1'],
            df_censusbedocc['Occupancy rating of bedrooms: -2 or less']]

df_censusbedocc["Bedocc_entropy"] = entropy(p_bedocc, base=2)
#df_censusbedocc

In [76]:
df_censuscarsvans = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_CarsVans.csv?raw=true", 
                                  skiprows = 6, nrows = 33)
df_censuscarsvans.shape
df_censuscarsvans.dtypes

p = [df_censuscarsvans['No cars or vans in household'], df_censuscarsvans['1 car or van in household'], df_censuscarsvans['2 cars or vans in household'],
    df_censuscarsvans['3 or more cars or vans in household']]
df_censuscarsvans["Cars_entropy"] = entropy(p, base=2)

#https://www.geeksforgeeks.org/how-to-compute-entropy-using-scipy/


#df_censuscarsvans["TestVar"] = df_censuscarsvans['No cars or vans in household']
#df_censuscarsvans

In [80]:
df_censusdepriv = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_Deprivation.csv?raw=true", 
                                  skiprows = 6, nrows = 33)
df_censusdepriv.shape
df_censusdepriv.dtypes

p_depriv = [df_censusdepriv['Household is not deprived in any dimension'],df_censusdepriv['Household is deprived in one dimension'],
            df_censusdepriv['Household is deprived in two dimensions'], df_censusdepriv['Household is deprived in three dimensions'],
            df_censusdepriv['Household is deprived in four dimensions']]

df_censusdepriv["Depriv_entropy"] = entropy(p_depriv, base=2)
#df_censusdepriv

In [84]:
df_censusnssec = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_NsSeC.csv?raw=true", 
                                  skiprows = 6, nrows = 33)
df_censusnssec.shape
df_censusnssec.dtypes

p_nssec = [df_censusnssec['L1, L2 and L3 Higher managerial, administrative and professional occupations'],
           df_censusnssec['L4, L5 and L6 Lower managerial, administrative and professional occupations'],
          df_censusnssec['L7 Intermediate occupations'],df_censusnssec['L8 and L9 Small employers and own account workers'],
          df_censusnssec['L10 and L11 Lower supervisory and technical occupations'],df_censusnssec['L12 Semi-routine occupations'],
          df_censusnssec['L13 Routine occupations'],df_censusnssec['L14.1 and L14.2 Never worked and long-term unemployed'],
          df_censusnssec['L15 Full-time students']]

df_censusnssec["NsSEC_entropy"] = entropy(p_nssec, base=2)
#df_censusnssec

In [62]:
df_censuspopdens = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_PopDensity.csv?raw=true", 
                                  skiprows = 6, nrows = 33)
df_censuspopdens.shape
df_censuspopdens.dtypes

2022 local authorities: county     object
mnemonic                           object
2021                              float64
dtype: object

In [88]:
df_censusaddress = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/census_data/Census_Addresses.csv?raw=true", 
                                  skiprows = 6, nrows = 33)
df_censusaddress.shape
df_censusaddress.dtypes

p_address = [df_censusaddress['Address one year ago is the same as the address of enumeration'],
             df_censusaddress['Address one year ago is student term-time or boarding school address in the UK'],
            df_censusaddress['Migrant from within the UK: Address one year ago was in the UK'],
             df_censusaddress['Migrant from outside the UK: Address one year ago was outside the UK']]

df_censusaddress["Address_entropy"] = entropy(p_address, base=2)
#df_censusaddress

In [ ]:
#LOAD IN VACANT HOMES DATA

In [68]:
#https://data.london.gov.uk/download/vacant-dwellings/c428a18b-9961-4b98-9cfe-b7f120114141/vacant-dwellings-borough%20%282%29.xlsx
df_vacantprops = pd.read_excel("https://data.london.gov.uk/download/vacant-dwellings/c428a18b-9961-4b98-9cfe-b7f120114141/vacant-dwellings-borough%20%282%29.xlsx", 
                                  sheet_name = 2, skiprows = 1, nrows = 33)

df_vacantprops.dropna(inplace = True)
df_vacantprops.shape

df_vacantprops.rename(columns={'Unnamed: 0':'LAcode'}, inplace=True)
df_vacantprops.rename(columns={'Unnamed: 1':'LAname'}, inplace=True)

df_vacantprops.dtypes

print(df_vacantprops.head())

column_names = list(df_vacantprops.columns)
print(column_names)

      LAcode                LAname    2004    2005    2006    2007    2008  \
1  E09000001        City of London   119.0    86.0    55.0    54.0    47.0
2  E09000002  Barking and Dagenham   434.0   513.0   893.0  1181.0   750.0
3  E09000003                Barnet  1654.0  1805.0  1604.0  1576.0  1704.0
4  E09000004                Bexley   898.0   932.0   823.0   911.0   756.0
5  E09000005                 Brent  1294.0  1231.0  1214.0  1162.0   830.0

     2009    2010    2011  ...    2014    2015    2016    2017    2018  \
1    24.0    23.0    45.0  ...    48.0    44.0    48.0   158.0   244.0
2   627.0   557.0   468.0  ...   259.0   202.0   110.0   115.0   106.0
3  1719.0  1525.0  1390.0  ...  1129.0  1249.0  1100.0  1048.0  1065.0
4   755.0   670.0   779.0  ...   334.0   395.0   387.0   475.0   488.0
5   733.0   595.0   629.0  ...   540.0   405.0   453.0   354.0   405.0

     2019    2020    2021    2022    2023
1   273.0   276.0   209.0   295.0   261.0
2   206.0   224.0   222.0   368.0   383.0
3  1113.0  1378.0  1519.0  1891.0  1905.0
4   645.0   505.0   507.0   572.0   655.0
5   336.0  1029.0  1414.0  1114.0  1053.0

[5 rows x 22 columns]
['LAcode', 'LAname', 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

In [ ]:
#LOAD IN MEDIAN HOUSE PRIVATE VALUES

In [26]:
#https://github.com/a-saveleva/FSDS_Slap/blob/main/house_prices/hpssadataset9medianpricepaidforadministrativegeographies.xls

df_hp_median = pd.read_excel("https://github.com/a-saveleva/FSDS_Slap/blob/main/house_prices/hpssadataset9medianpricepaidforadministrativegeographies.xls?raw=true", 
                                  sheet_name = 10, skiprows = 6, nrows = 331)
df_hp_median.shape
df_hp_median.dtypes

column_names = list(df_hp_median.columns)
print(column_names)

df_median_London = df_hp_median[df_hp_median['Local authority code '].str.startswith('E09')]

print(df_median_London.head())

['Region/Country code', 'Region/Country name', 'Local authority code ', 'Local authority name', 'Year ending Dec 1995', 'Year ending Mar 1996', 'Year ending Jun 1996', 'Year ending Sep 1996', 'Year ending Dec 1996', 'Year ending Mar 1997', 'Year ending Jun 1997', 'Year ending Sep 1997', 'Year ending Dec 1997', 'Year ending Mar 1998', 'Year ending Jun 1998', 'Year ending Sep 1998', 'Year ending Dec 1998', 'Year ending Mar 1999', 'Year ending Jun 1999', 'Year ending Sep 1999', 'Year ending Dec 1999', 'Year ending Mar 2000', 'Year ending Jun 2000', 'Year ending Sep 2000', 'Year ending Dec 2000', 'Year ending Mar 2001', 'Year ending Jun 2001', 'Year ending Sep 2001', 'Year ending Dec 2001', 'Year ending Mar 2002', 'Year ending Jun 2002', 'Year ending Sep 2002', 'Year ending Dec 2002', 'Year ending Mar 2003', 'Year ending Jun 2003', 'Year ending Sep 2003', 'Year ending Dec 2003', 'Year ending Mar 2004', 'Year ending Jun 2004', 'Year ending Sep 2004', 'Year ending Dec 2004', 'Year ending Mar 2005', 'Year ending Jun 2005', 'Year ending Sep 2005', 'Year ending Dec 2005', 'Year ending Mar 2006', 'Year ending Jun 2006', 'Year ending Sep 2006', 'Year ending Dec 2006', 'Year ending Mar 2007', 'Year ending Jun 2007', 'Year ending Sep 2007', 'Year ending Dec 2007', 'Year ending Mar 2008', 'Year ending Jun 2008', 'Year ending Sep 2008', 'Year ending Dec 2008', 'Year ending Mar 2009', 'Year ending Jun 2009', 'Year ending Sep 2009', 'Year ending Dec 2009', 'Year ending Mar 2010', 'Year ending Jun 2010', 'Year ending Sep 2010', 'Year ending Dec 2010', 'Year ending Mar 2011', 'Year ending Jun 2011', 'Year ending Sep 2011', 'Year ending Dec 2011', 'Year ending Mar 2012', 'Year ending Jun 2012', 'Year ending Sep 2012', 'Year ending Dec 2012', 'Year ending Mar 2013', 'Year ending Jun 2013', 'Year ending Sep 2013', 'Year ending Dec 2013', 'Year ending Mar 2014', 'Year ending Jun 2014', 'Year ending Sep 2014', 'Year ending Dec 2014', 'Year ending Mar 2015', 'Year ending Jun 2015', 'Year ending Sep 2015', 'Year ending Dec 2015', 'Year ending Mar 2016', 'Year ending Jun 2016', 'Year ending Sep 2016', 'Year ending Dec 2016', 'Year ending Mar 2017', 'Year ending Jun 2017', 'Year ending Sep 2017', 'Year ending Dec 2017', 'Year ending Mar 2018', 'Year ending Jun 2018', 'Year ending Sep 2018', 'Year ending Dec 2018', 'Year ending Mar 2019', 'Year ending Jun 2019', 'Year ending Sep 2019', 'Year ending Dec 2019', 'Year ending Mar 2020', 'Year ending Jun 2020', 'Year ending Sep 2020', 'Year ending Dec 2020', 'Year ending Mar 2021', 'Year ending Jun 2021', 'Year ending Sep 2021', 'Year ending Dec 2021', 'Year ending Mar 2022', 'Year ending Jun 2022', 'Year ending Sep 2022', 'Year ending Dec 2022', 'Year ending Mar 2023']
    Region/Country code Region/Country name Local authority code   \
182           E12000007              London             E09000001
183           E12000007              London             E09000002
184           E12000007              London             E09000003
185           E12000007              London             E09000004
186           E12000007              London             E09000005

     Local authority name  Year ending Dec 1995  Year ending Mar 1996  \
182        City of London              105000.0              112500.0
183  Barking and Dagenham               49000.0               49995.0
184                Barnet               85250.0               85000.0
185                Bexley               62000.0               62000.0
186                 Brent               68000.0               69000.0

     Year ending Jun 1996  Year ending Sep 1996  Year ending Dec 1996  \
182              112375.0              121500.0              124250.0
183               50000.0               49995.0               49995.0
184               85000.0               85500.0               87000.0
185               63250.0               63500.0               65000.0
186               70000.0               71000.0               73000.0

     Year ending Mar 1997  ...  Year ending Dec 2020  Year ending Mar 2021  \
182              127000.0  ...              883500.0              814000.0
183               49950.0  ...              325000.0              326000.0
184               89500.0  ...              560000.0              570000.0
185               67000.0  ...              375000.0              390000.0
186               75000.0  ...              505000.0              520000.0

     Year ending Jun 2021  Year ending Sep 2021  Year ending Dec 2021  \
182              771750.0              771750.0              797500.0
183              332000.0              335000.0              340000.0
184              570000.0              570000.0              575000.0
185              394000.0              390000.0              390000.0
186              523000.0              525000.0              525000.0

     Year ending Mar 2022  Year ending Jun 2022  Year ending Sep 2022  \
182              805000.0              802500.0              800000.0
183              345000.0              350000.0              365000.0
184              576300.0              589000.0              600000.0
185              390000.0              395000.0              416500.0
186              525000.0              533250.0              550000.0

     Year ending Dec 2022  Year ending Mar 2023
182              772500.0              790000.0
183              375000.0              380000.0
184              605150.0              615000.0
185              425000.0              425000.0
186              560000.0              565000.0

[5 rows x 114 columns]

In [ ]:
#LOAD IN LOWER QUARTILE HOUSE PRIVATE VALUES
#https://github.com/a-saveleva/FSDS_Slap/blob/main/house_prices/hpssadataset15lowerquartilepricepaidforadministrativegeographies.xls

In [28]:
df_hp_lower = pd.read_excel("https://github.com/a-saveleva/FSDS_Slap/blob/main/house_prices/hpssadataset15lowerquartilepricepaidforadministrativegeographies.xls?raw=true", 
                                  sheet_name = 10, skiprows = 6, nrows = 331)
df_hp_lower.shape
df_hp_lower.dtypes

column_names = list(df_hp_lower.columns)
print(column_names)

df_lower_London = df_hp_lower[df_hp_lower['Local authority code '].str.startswith('E09')]

#print(df_lower_London.head())

['Region/Country code', 'Region/Country name', 'Local authority code ', 'Local authority name', 'Year ending Dec 1995', 'Year ending Mar 1996', 'Year ending Jun 1996', 'Year ending Sep 1996', 'Year ending Dec 1996', 'Year ending Mar 1997', 'Year ending Jun 1997', 'Year ending Sep 1997', 'Year ending Dec 1997', 'Year ending Mar 1998', 'Year ending Jun 1998', 'Year ending Sep 1998', 'Year ending Dec 1998', 'Year ending Mar 1999', 'Year ending Jun 1999', 'Year ending Sep 1999', 'Year ending Dec 1999', 'Year ending Mar 2000', 'Year ending Jun 2000', 'Year ending Sep 2000', 'Year ending Dec 2000', 'Year ending Mar 2001', 'Year ending Jun 2001', 'Year ending Sep 2001', 'Year ending Dec 2001', 'Year ending Mar 2002', 'Year ending Jun 2002', 'Year ending Sep 2002', 'Year ending Dec 2002', 'Year ending Mar 2003', 'Year ending Jun 2003', 'Year ending Sep 2003', 'Year ending Dec 2003', 'Year ending Mar 2004', 'Year ending Jun 2004', 'Year ending Sep 2004', 'Year ending Dec 2004', 'Year ending Mar 2005', 'Year ending Jun 2005', 'Year ending Sep 2005', 'Year ending Dec 2005', 'Year ending Mar 2006', 'Year ending Jun 2006', 'Year ending Sep 2006', 'Year ending Dec 2006', 'Year ending Mar 2007', 'Year ending Jun 2007', 'Year ending Sep 2007', 'Year ending Dec 2007', 'Year ending Mar 2008', 'Year ending Jun 2008', 'Year ending Sep 2008', 'Year ending Dec 2008', 'Year ending Mar 2009', 'Year ending Jun 2009', 'Year ending Sep 2009', 'Year ending Dec 2009', 'Year ending Mar 2010', 'Year ending Jun 2010', 'Year ending Sep 2010', 'Year ending Dec 2010', 'Year ending Mar 2011', 'Year ending Jun 2011', 'Year ending Sep 2011', 'Year ending Dec 2011', 'Year ending Mar 2012', 'Year ending Jun 2012', 'Year ending Sep 2012', 'Year ending Dec 2012', 'Year ending Mar 2013', 'Year ending Jun 2013', 'Year ending Sep 2013', 'Year ending Dec 2013', 'Year ending Mar 2014', 'Year ending Jun 2014', 'Year ending Sep 2014', 'Year ending Dec 2014', 'Year ending Mar 2015', 'Year ending Jun 2015', 'Year ending Sep 2015', 'Year ending Dec 2015', 'Year ending Mar 2016', 'Year ending Jun 2016', 'Year ending Sep 2016', 'Year ending Dec 2016', 'Year ending Mar 2017', 'Year ending Jun 2017', 'Year ending Sep 2017', 'Year ending Dec 2017', 'Year ending Mar 2018', 'Year ending Jun 2018', 'Year ending Sep 2018', 'Year ending Dec 2018', 'Year ending Mar 2019', 'Year ending Jun 2019', 'Year ending Sep 2019', 'Year ending Dec 2019', 'Year ending Mar 2020', 'Year ending Jun 2020', 'Year ending Sep 2020', 'Year ending Dec 2020', 'Year ending Mar 2021', 'Year ending Jun 2021', 'Year ending Sep 2021', 'Year ending Dec 2021', 'Year ending Mar 2022', 'Year ending Jun 2022', 'Year ending Sep 2022', 'Year ending Dec 2022', 'Year ending Mar 2023']
    Region/Country code Region/Country name Local authority code   \
182           E12000007              London             E09000001
183           E12000007              London             E09000002
184           E12000007              London             E09000003
185           E12000007              London             E09000004
186           E12000007              London             E09000005

     Local authority name  Year ending Dec 1995  Year ending Mar 1996  \
182        City of London               80000.0               85750.0
183  Barking and Dagenham               40000.0               40000.0
184                Barnet               59950.0               59950.0
185                Bexley               48000.0               48000.0
186                 Brent               52000.0               53995.0

     Year ending Jun 1996  Year ending Sep 1996  Year ending Dec 1996  \
182               79500.0               90000.0               92000.0
183               40000.0               40750.0               41000.0
184               59500.0               59950.0               59950.0
185               48500.0               48500.0               50000.0
186               54295.0               54500.0               55000.0

     Year ending Mar 1997  ...  Year ending Dec 2020  Year ending Mar 2021  \
182                 96000  ...              649950.0              635000.0
183                 41500  ...              285000.0              285000.0
184                 60000  ...              400000.0              410000.0
185                 51175  ...              302500.0              312500.0
186                 55000  ...              385000.0              385000.0

     Year ending Jun 2021  Year ending Sep 2021  Year ending Dec 2021  \
182              604250.0                595000              616000.0
183              290000.0                295000              295000.0
184              410000.0                410000              415000.0
185              317500.0                313000              310500.0
186              392000.0                390000              380000.0

     Year ending Mar 2022  Year ending Jun 2022  Year ending Sep 2022  \
182              595000.0              598550.0              550000.0
183              299000.0              295000.0              285000.0
184              415000.0              415000.0              420000.0
185              308000.0              305000.0              320000.0
186              385000.0              385000.0              389000.0

     Year ending Dec 2022  Year ending Mar 2023
182              550000.0              568000.0
183              310000.0              305000.0
184              415000.0              410000.0
185              325500.0              332000.0
186              395000.0              391720.0

[5 rows x 114 columns]

In [ ]:
#LOAD SALES DATA
#https://github.com/a-saveleva/FSDS_Slap/blob/main/house_prices/Sales-2024-09.csv

In [55]:
df_hp_sales = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/house_prices/Sales-2024-09.csv?raw=true", 
                                  skiprows = 0, nrows = 138543, parse_dates = ['Date'])
df_hp_sales.shape
df_hp_sales.dtypes

column_names = list(df_hp_sales.columns)
print(column_names)

df_sales_London = df_hp_sales[df_hp_sales['Area_Code'].str.startswith('E09')]
print(df_sales_London.head())
df_sales_London.dtypes

['Date', 'Region_Name', 'Area_Code', 'Sales_Volume']
         Date           Region_Name  Area_Code  Sales_Volume
40 1995-01-01         Tower Hamlets  E09000030         147.0
41 1995-01-01        Waltham Forest  E09000031         249.0
42 1995-01-01  Kingston upon Thames  E09000021         213.0
43 1995-01-01               Lambeth  E09000022         227.0
44 1995-01-01              Lewisham  E09000023         211.0

Date            datetime64[ns]
Region_Name             object
Area_Code               object
Sales_Volume           float64
dtype: object

In [ ]:
#LOAD FIRST TIME BUYERS
#https://github.com/a-saveleva/FSDS_Slap/blob/main/house_prices/First-Time-Buyer-Former-Owner-Occupied-2024-09.csv

In [56]:
df_hp_firsttime = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/house_prices/First-Time-Buyer-Former-Owner-Occupied-2024-09.csv?raw=true", 
                                  skiprows = 0, nrows = 60219, parse_dates = ['Date'])
df_hp_firsttime.shape
df_hp_firsttime.dtypes

column_names = list(df_hp_firsttime.columns)
print(column_names)

df_firsttime_London = df_hp_firsttime[df_hp_firsttime['Area_Code'].str.startswith('E09')]
print(df_firsttime_London.head())
df_firsttime_London.dtypes

['Date', 'Region_Name', 'Area_Code', 'First_Time_Buyer_Average_Price', 'First_Time_Buyer_Index', 'First_Time_Buyer_Monthly_Change', 'First_Time_Buyer_Annual_Change', 'Former_Owner_Occupier_Average_Price', 'Former_Owner_Occupier_Index', 'Former_Owner_Occupier_Monthly_Change', 'Former_Owner_Occupier_Annual_Change']
          Date     Region_Name  Area_Code  First_Time_Buyer_Average_Price  \
469 2012-01-01        Havering  E09000016                     186160.2999
470 2012-01-01        Haringey  E09000014                     284507.8865
471 2012-01-01       Redbridge  E09000026                     215044.4069
472 2012-01-01  Waltham Forest  E09000031                     214718.2569
473 2012-01-01      Wandsworth  E09000032                     359896.6248

     First_Time_Buyer_Index  First_Time_Buyer_Monthly_Change  \
469               78.771676                              NaN
470               69.690150                              NaN
471               76.531086                              NaN
472               66.566673                              NaN
473               74.340428                              NaN

     First_Time_Buyer_Annual_Change  Former_Owner_Occupier_Average_Price  \
469                             NaN                          249265.6369
470                             NaN                          356044.7004
471                             NaN                          277108.1331
472                             NaN                          235034.8800
473                             NaN                          476310.3535

     Former_Owner_Occupier_Index  Former_Owner_Occupier_Monthly_Change  \
469                    78.980047                                   NaN
470                    70.257779                                   NaN
471                    76.781400                                   NaN
472                    66.645397                                   NaN
473                    74.464335                                   NaN

     Former_Owner_Occupier_Annual_Change
469                                  NaN
470                                  NaN
471                                  NaN
472                                  NaN
473                                  NaN

Date                                    datetime64[ns]
Region_Name                                     object
Area_Code                                       object
First_Time_Buyer_Average_Price                 float64
First_Time_Buyer_Index                         float64
First_Time_Buyer_Monthly_Change                float64
First_Time_Buyer_Annual_Change                 float64
Former_Owner_Occupier_Average_Price            float64
Former_Owner_Occupier_Index                    float64
Former_Owner_Occupier_Monthly_Change           float64
Former_Owner_Occupier_Annual_Change            float64
dtype: object

In [ ]:
#LOAD NEW BUILD
#https://github.com/a-saveleva/FSDS_Slap/blob/main/house_prices/New-and-Old-2024-09.csv

In [57]:
df_hp_newbuild = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/house_prices/New-and-Old-2024-09.csv?raw=true", 
                                  skiprows = 0, nrows = 138543, parse_dates = ['Date'])
df_hp_newbuild.shape
df_hp_newbuild.dtypes

column_names = list(df_hp_newbuild.columns)
print(column_names)

df_newbuild_London = df_hp_newbuild[df_hp_newbuild['Area_Code'].str.startswith('E09')]
print(df_newbuild_London.head())
df_newbuild_London.dtypes

['Date', 'Region_Name', 'Area_Code', 'New_Build_Average_Price', 'New_Build_Index', 'New_Build_Monthly_Change', 'New_Build_Annual_Change', 'New_Build_Sales_Volume', 'Existing_Property_Average_Price', 'Existing_Property_Index', 'Existing_Property_Monthly_Change', 'Existing_Property_Annual_Change', 'Existing_Property_Sales_Volume']
         Date           Region_Name  Area_Code  New_Build_Average_Price  \
40 1995-01-01         Tower Hamlets  E09000030              58886.65647
41 1995-01-01        Waltham Forest  E09000031              68814.69581
42 1995-01-01  Kingston upon Thames  E09000021              81667.19023
43 1995-01-01               Lambeth  E09000022              69396.11634
44 1995-01-01              Lewisham  E09000023              57566.24626

    New_Build_Index  New_Build_Monthly_Change  New_Build_Annual_Change  \
40        14.539409                       NaN                      NaN
41        19.392929                       NaN                      NaN
42        18.467985                       NaN                      NaN
43        15.636979                       NaN                      NaN
44        17.962778                       NaN                      NaN

    New_Build_Sales_Volume  Existing_Property_Average_Price  \
40                    60.0                      60172.27241
41                     8.0                      60994.52183
42                    25.0                      81571.01725
43                     6.0                      67645.88847
44                    14.0                      60686.33325

    Existing_Property_Index  Existing_Property_Monthly_Change  \
40                14.753005                               NaN
41                18.033481                               NaN
42                19.118168                               NaN
43                15.331074                               NaN
44                17.747137                               NaN

    Existing_Property_Annual_Change  Existing_Property_Sales_Volume
40                              NaN                            87.0
41                              NaN                           241.0
42                              NaN                           188.0
43                              NaN                           221.0
44                              NaN                           197.0

Date                                datetime64[ns]
Region_Name                                 object
Area_Code                                   object
New_Build_Average_Price                    float64
New_Build_Index                            float64
New_Build_Monthly_Change                   float64
New_Build_Annual_Change                    float64
New_Build_Sales_Volume                     float64
Existing_Property_Average_Price            float64
Existing_Property_Index                    float64
Existing_Property_Monthly_Change           float64
Existing_Property_Annual_Change            float64
Existing_Property_Sales_Volume             float64
dtype: object