In [4]:
import numpy as np
import pandas as pd

#reading the data 

df_rentalprice = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/private_Rent/filtered_london_rents.csv?raw=true")
print(df_london.head())

       Time period  Area code             Area name Region or country name  \
30470        42005  E09000002  Barking and Dagenham                 London
30471        42036  E09000002  Barking and Dagenham                 London
30472        42064  E09000002  Barking and Dagenham                 London
30473        42095  E09000002  Barking and Dagenham                 London
30474        42125  E09000002  Barking and Dagenham                 London

           Index  Monthly change  Annual change  Rental price  Index one bed  \
30470  74.880356             NaN            NaN         972.0      75.081379
30471  75.863377        1.312789            NaN         985.0      76.073025
30472  76.887639        1.350140            NaN         998.0      77.112438
30473  77.797346        1.183164            NaN        1010.0      78.047314
30474  77.932164        0.173293            NaN        1011.0      78.172612

       Monthly change one bed  ...  Annual change semidetached  \
30470                     NaN  ...                         NaN
30471                1.320761  ...                         NaN
30472                1.366336  ...                         NaN
30473                1.212354  ...                         NaN
30474                0.160541  ...                         NaN

       Rental price semidetached  Index terraced  Monthly change terraced  \
30470                     1127.0       73.798805                      NaN
30471                     1141.0       74.764195                 1.308137
30472                     1157.0       75.786387                 1.367222
30473                     1170.0       76.674727                 1.172162
30474                     1172.0       76.810841                 0.177521

       Annual change terraced  Rental price terraced  Index flat maisonette  \
30470                     NaN                 1051.0              75.280289
30471                     NaN                 1064.0              76.270878
30472                     NaN                 1079.0              77.291856
30473                     NaN                 1092.0              78.213759
30474                     NaN                 1094.0              78.349506

       Monthly change flat maisonette  Annual change flat maisonette  \
30470                             NaN                            NaN
30471                        1.315868                            NaN
30472                        1.338621                            NaN
30473                        1.192757                            NaN
30474                        0.173559                            NaN

       Rental price flat maisonette
30470                         926.0
30471                         939.0
30472                         951.0
30473                         963.0
30474                         964.0

[5 rows x 40 columns]

In [3]:
import numpy as np
import pandas as pd

#reading the data 

df_rentalprice = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/private_Rent/onsrents.csv?raw=true")

# Filtering for London boroughs based on Area Code
# London borough codes start with 'E09'
df_london = df_rentalprice[df_rentalprice['Area code'].str.startswith('E09')]

# Display the first few rows of the filtered dataset
print(df_london.head())

       Time period  Area code             Area name Region or country name  \
30470        42005  E09000002  Barking and Dagenham                 London
30471        42036  E09000002  Barking and Dagenham                 London
30472        42064  E09000002  Barking and Dagenham                 London
30473        42095  E09000002  Barking and Dagenham                 London
30474        42125  E09000002  Barking and Dagenham                 London

           Index  Monthly change  Annual change  Rental price  Index one bed  \
30470  74.880356             NaN            NaN         972.0      75.081379
30471  75.863377        1.312789            NaN         985.0      76.073025
30472  76.887639        1.350140            NaN         998.0      77.112438
30473  77.797346        1.183164            NaN        1010.0      78.047314
30474  77.932164        0.173293            NaN        1011.0      78.172612

       Monthly change one bed  ...  Annual change semidetached  \
30470                     NaN  ...                         NaN
30471                1.320761  ...                         NaN
30472                1.366336  ...                         NaN
30473                1.212354  ...                         NaN
30474                0.160541  ...                         NaN

       Rental price semidetached  Index terraced  Monthly change terraced  \
30470                     1127.0       73.798805                      NaN
30471                     1141.0       74.764195                 1.308137
30472                     1157.0       75.786387                 1.367222
30473                     1170.0       76.674727                 1.172162
30474                     1172.0       76.810841                 0.177521

       Annual change terraced  Rental price terraced  Index flat maisonette  \
30470                     NaN                 1051.0              75.280289
30471                     NaN                 1064.0              76.270878
30472                     NaN                 1079.0              77.291856
30473                     NaN                 1092.0              78.213759
30474                     NaN                 1094.0              78.349506

       Monthly change flat maisonette  Annual change flat maisonette  \
30470                             NaN                            NaN
30471                        1.315868                            NaN
30472                        1.338621                            NaN
30473                        1.192757                            NaN
30474                        0.173559                            NaN

       Rental price flat maisonette
30470                         926.0
30471                         939.0
30472                         951.0
30473                         963.0
30474                         964.0

[5 rows x 40 columns]