In [3]:
import numpy as np
import pandas as pd

#reading the data 

df_rentalprice = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/private_Rent/filtered_london_rents.csv?raw=true")
print(df_rentalprice)

      Time.period  Area.code             Area.name Region.or.country.name  \
0           42005  E09000002  Barking and Dagenham                 London
1           42036  E09000002  Barking and Dagenham                 London
2           42064  E09000002  Barking and Dagenham                 London
3           42095  E09000002  Barking and Dagenham                 London
4           42125  E09000002  Barking and Dagenham                 London
...           ...        ...                   ...                    ...
3515        45200  E09000033           Westminster                 London
3516        45231  E09000033           Westminster                 London
3517        45261  E09000033           Westminster                 London
3518        45292  E09000033           Westminster                 London
3519        45323  E09000033           Westminster                 London

           Index  Monthly.change  Annual.change  Rental.price  Index.one.bed  \
0      74.880356             NaN            NaN           972      75.081379
1      75.863377        1.312789            NaN           985      76.073025
2      76.887639        1.350140            NaN           998      77.112438
3      77.797346        1.183164            NaN          1010      78.047314
4      77.932164        0.173293            NaN          1011      78.172612
...          ...             ...            ...           ...            ...
3515  113.481800       -0.386438      16.768223          2881     113.661710
3516  112.874662       -0.535009      15.180530          2866     113.067263
3517  112.839875       -0.030819      14.106491          2865     113.064536
3518  113.820501        0.869043      13.820501          2890     114.104303
3519  114.901001        0.949302      12.852789          2917     115.218901

      Monthly.change.one.bed  ...  Annual.change.semidetached  \
0                        NaN  ...                         NaN
1                   1.320761  ...                         NaN
2                   1.366336  ...                         NaN
3                   1.212354  ...                         NaN
4                   0.160541  ...                         NaN
...                      ...  ...                         ...
3515               -0.362233  ...                   16.768223
3516               -0.522997  ...                   15.180530
3517               -0.002412  ...                   14.106491
3518                0.919622  ...                   13.820501
3519                0.976824  ...                   12.901728

      Rental.price.semidetached  Index.terraced  Monthly.change.terraced  \
0                          1127       73.798805                      NaN
1                          1141       74.764195                 1.308137
2                          1157       75.786387                 1.367222
3                          1170       76.674727                 1.172162
4                          1172       76.810841                 0.177521
...                         ...             ...                      ...
3515                       2627      113.076302                -0.399646
3516                       2613      112.451701                -0.552372
3517                       2612      112.380175                -0.063606
3518                       2634      113.304024                 0.822075
3519                       2661      114.384191                 0.953336

      Annual.change.terraced  Rental.price.terraced  Index.flat.maisonette  \
0                        NaN                   1051              75.280289
1                        NaN                   1064              76.270878
2                        NaN                   1079              77.291856
3                        NaN                   1092              78.213759
4                        NaN                   1094              78.349506
...                      ...                    ...                    ...
3515               16.388274                   3436             113.682956
3516               14.755496                   3417             113.084482
3517               13.638238                   3415             113.067921
3518               13.304024                   3443             114.076714
3519               12.380413                   3476             115.157129

      Monthly.change.flat.maisonette  Annual.change.flat.maisonette  \
0                                NaN                            NaN
1                           1.315868                            NaN
2                           1.338621                            NaN
3                           1.192757                            NaN
4                           0.173559                            NaN
...                              ...                            ...
3515                       -0.379919                      16.956719
3516                       -0.526441                      15.391378
3517                       -0.014645                      14.338781
3518                        0.892201                      14.076714
3519                        0.947095                      13.086807

      Rental.price.flat.maisonette
0                              926
1                              939
2                              951
3                              963
4                              964
...                            ...
3515                          2665
3516                          2651
3517                          2650
3518                          2674
3519                          2699

[3520 rows x 40 columns]