In [2]:
import numpy as np
import pandas as pd

#reading the data 

df_rentalprice = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/private_Rent/filtered_london_rents.csv?raw=true")
print(df_rentalprice.head())

   Time.period  Area.code             Area.name Region.or.country.name  \
0        42005  E09000002  Barking and Dagenham                 London
1        42036  E09000002  Barking and Dagenham                 London
2        42064  E09000002  Barking and Dagenham                 London
3        42095  E09000002  Barking and Dagenham                 London
4        42125  E09000002  Barking and Dagenham                 London

       Index  Monthly.change  Annual.change  Rental.price  Index.one.bed  \
0  74.880356             NaN            NaN           972      75.081379
1  75.863377        1.312789            NaN           985      76.073025
2  76.887639        1.350140            NaN           998      77.112438
3  77.797346        1.183164            NaN          1010      78.047314
4  77.932164        0.173293            NaN          1011      78.172612

   Monthly.change.one.bed  ...  Annual.change.semidetached  \
0                     NaN  ...                         NaN
1                1.320761  ...                         NaN
2                1.366336  ...                         NaN
3                1.212354  ...                         NaN
4                0.160541  ...                         NaN

   Rental.price.semidetached  Index.terraced  Monthly.change.terraced  \
0                       1127       73.798805                      NaN
1                       1141       74.764195                 1.308137
2                       1157       75.786387                 1.367222
3                       1170       76.674727                 1.172162
4                       1172       76.810841                 0.177521

   Annual.change.terraced  Rental.price.terraced  Index.flat.maisonette  \
0                     NaN                   1051              75.280289
1                     NaN                   1064              76.270878
2                     NaN                   1079              77.291856
3                     NaN                   1092              78.213759
4                     NaN                   1094              78.349506

   Monthly.change.flat.maisonette  Annual.change.flat.maisonette  \
0                             NaN                            NaN
1                        1.315868                            NaN
2                        1.338621                            NaN
3                        1.192757                            NaN
4                        0.173559                            NaN

   Rental.price.flat.maisonette
0                           926
1                           939
2                           951
3                           963
4                           964

[5 rows x 40 columns]

In [7]:
import numpy as np
import pandas as pd

#reading the data 

df_rentalprice = pd.read_csv("https://github.com/a-saveleva/FSDS_Slap/blob/main/private_Rent/onsrents.csv?raw=true")

# Filtering for London boroughs based on Area Code
# London borough codes start with 'E09'
df_london = df_rentalprice[df_rentalprice['Area code'].str.startswith('E09')]

# Resetting the index of the filtered DataFrame
df_london = df_london.reset_index(drop=True)

# Display the first few rows of the reset DataFrame
print(df_london.head())

  Time period  Area code             Area name Region or country name  Index  \
0  2015-01-01  E09000002  Barking and Dagenham                 London   74.9
1  2015-02-01  E09000002  Barking and Dagenham                 London   75.9
2  2015-03-01  E09000002  Barking and Dagenham                 London   76.9
3  2015-04-01  E09000002  Barking and Dagenham                 London   77.8
4  2015-05-01  E09000002  Barking and Dagenham                 London   77.9

   Monthly change  Annual change  Rental price  Index one bed  \
0             NaN            NaN         972.0           75.1
1             1.3            NaN         985.0           76.1
2             1.4            NaN         998.0           77.1
3             1.2            NaN        1010.0           78.0
4             0.2            NaN        1011.0           78.2

   Monthly change one bed  ...  Annual change semidetached  \
0                     NaN  ...                         NaN
1                     1.3  ...                         NaN
2                     1.4  ...                         NaN
3                     1.2  ...                         NaN
4                     0.2  ...                         NaN

   Rental price semidetached  Index terraced  Monthly change terraced  \
0                     1127.0            73.8                      NaN
1                     1141.0            74.8                      1.3
2                     1157.0            75.8                      1.4
3                     1170.0            76.7                      1.2
4                     1172.0            76.8                      0.2

   Annual change terraced  Rental price terraced  Index flat maisonette  \
0                     NaN                 1051.0                   75.3
1                     NaN                 1064.0                   76.3
2                     NaN                 1079.0                   77.3
3                     NaN                 1092.0                   78.2
4                     NaN                 1094.0                   78.3

   Monthly change flat maisonette  Annual change flat maisonette  \
0                             NaN                            NaN
1                             1.3                            NaN
2                             1.3                            NaN
3                             1.2                            NaN
4                             0.2                            NaN

   Rental price flat maisonette
0                         926.0
1                         939.0
2                         951.0
3                         963.0
4                         964.0

[5 rows x 40 columns]